@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DotNetPracticeMVC.Models;
@{
    List<Employees> employees = (List<Employees>)ViewData["data1"];
    <h1>List of Employees</h1>
    <ol>
        @{
            foreach(Employees emp in employees)
            {
                <li>
                @emp.Name
                @emp.Job
                @emp.Salary
                @emp.Age
                @emp.AccountNo
                </li>
            }
        }
    </ol>
}

